.about {
  // background-color: lightsalmon;
  display: flex;

  .profile {
    width: 30%;
    height: 30%;
    max-width: 15rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .intro {
    font-size: 1.8rem;
  }
}

.skills {
  // background-color: lightsteelblue;
}
