.mainHome {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  .homeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }

  .greeting {
    font-size: 6rem;
    color: white;
    z-index: 100;
    margin: calc(44vh - 5rem) auto 0;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .job {
      margin-bottom: 1rem;
    }

    .name {
      font-size: 8.4rem;
    }
  }
}
