@import "global.module.scss";
$width: -720;

@keyframes slideBefore {
  0% {
    transform: translate3d(-76.5rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideNext {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-76.5rem, 0, 0);
  }
}

.before {
  animation: slideBefore 0.5s forwards;
}

.next {
  animation: slideNext 0.5s forwards;
}

.modal {
  background-color: white;
  padding: 3rem 0;
  // width: 65rem;
  width: 100rem;
  height: 90%;
  max-height: 90%;
  top: 7%;
  // left: calc(50vw - 325px);
  left: calc(50vw - 50rem);
  border-radius: 10px;
  position: absolute;
  z-index: 200;
  overflow: hidden;

  .modalTitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto 3rem;
    position: relative;
    width: fit-content;

    .deco {
      background-color: $point;
      display: block;
      width: 120%;
      height: 1rem;
      position: absolute;
      bottom: 0;
      left: -10%;
      z-index: -10;
    }
  }

  .modalWrapper {
    width: 100%;
    max-height: 90%;
    padding: 0 5rem;
    overflow: scroll;

    .carousel {
      width: 100%;
      margin: 0 auto;
      position: relative;

      .navBtn {
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: calc(50% - 2rem);

        &:hover,
        &:focus {
          background-color: $shadow;
          color: white;
        }
      }

      .figureWrapper {
        margin: 0 auto;
        width: 85%;
        height: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .figure {
          width: 100%;
          height: 100%;
          min-width: 100%;

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .caption {
            width: 100%;
            margin: 0 auto;
            padding: 0 0 1rem;
            position: absolute;
            bottom: 0;
            font-size: 1.6rem;
            text-align: center;
            color: white;
            background-color: $shadow;

            .indexList {
              width: 100%;
              padding: 1rem 0;
              display: flex;
              justify-content: center;

              .index {
                background-color: black;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                margin: 0 0.5rem;
              }
            }
          }
        }
      }
    }

    .infoWrapper {
      margin-top: 3rem;

      .info {
        font-size: 1.6rem;
        height: 2.5rem;
        display: flex;
        align-items: center;

        .icons {
          margin-right: 1rem;
          border-bottom: none;
        }

        .link {
          border-bottom: 1px solid black;
          transition: 0.2s ease-in;

          &:hover,
          &:focus {
            color: darken($point, 30%);
            border-bottom: 1px solid darken($point, 30%);
            transition: 0.2s ease-in;
            outline: none;
          }
        }

        &:nth-of-type(1) {
          margin-bottom: 1.5rem;
        }
      }
    }

    .featureWrapper,
    .techWrapper {
      margin-top: 5rem;

      .subtitle {
        font-size: 2rem;
        font-weight: 500;
      }

      .list {
        padding-left: 1rem;
        margin-top: 1rem;

        .item {
          list-style-type: "-";
          font-size: 1.6rem;
          padding-left: 1rem;
          line-height: 2.3rem;
        }
      }
    }

    .scrollBtn {
      // background-color: lavender;
      border-radius: 0;
      flex-direction: column;
      width: 10rem;
      height: 5rem;
      position: absolute;
      bottom: 1rem;
      left: calc(50% - 5rem);
      color: darken($point, 20%);

      &:hover,
      &:focus {
        text-shadow: 2px 2px 2px lightgray;
      }
    }

    .closeBtn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      width: 3.2rem;
      height: 3.2rem;

      &:hover,
      &:focus {
        border: 1px solid black;
        background-color: white;
      }
    }
  }
}

.dimmed {
  background-color: darken($shadow, 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
